body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}

.panel {
    height: 100%; /* 높이를 컨테이너 높이에 맞춤 */
    display: flex;
    justify-content: center; /* 내용을 중앙 정렬 */
    align-items: center;
}

#left-panel {
    width: 50%; /* 고정된 너비를 지정 */
    flex-shrink: 0; /* 크기가 변하지 않도록 설정 */
}

#right-panel {
    width: 50%; /* 고정된 너비를 지정 */
    flex-shrink: 0; /* 크기가 변하지 않도록 설정 */
}

#first-image {
    width: 640px; /* 웹캠 컨테이너의 너비를 패널 너비에 맞춤 */
    height: 400px;
    object-fit: contain; /* 이미지가 패널을 벗어나지 않게 함 */
}

#webcam-container {
    width: 100%; /* 웹캠 컨테이너의 너비를 패널 너비에 맞춤 */
    height: 100%; /* 웹캠 컨테이너의 높이를 패널 높이에 맞춤 */
    object-fit: cover; /* 웹캠 비디오가 패널을 완전히 채움 */
}

#indicator-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: grey;
    border-radius: 50%;
    margin: 0 5px;
}

#label-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
